configuration {
  /* modi: "run,drun,window"; */
  modi: "drun";
  terminal: "alacritty";
  font: "UbuntuMono Nerd Font 16";
  line-margin: 10;

  display-ssh:    "";
  display-run:    "";
  display-drun:   "";
  display-window: "";
  display-combi:  "";
  show-icons:     true;
}


@theme "nord"

listview {
	lines: 6;
	columns: 1;
}

window {
	width: 900;
}
