/* === Background Shades === */
@define-color bg_dim       #232A2E;  /* Dimmed Background */
@define-color bg0          #2D353B;  /* Default Background, Line Numbers, Inactive Status Line */
@define-color bg1          #343F44;  /* Cursor Line, Active Status Line, Color Columns */
@define-color bg2          #3D484D;  /* Popup Menus, Floating Windows */
@define-color bg3          #475258;  /* List Characters, Special Keys */
@define-color bg4          #4F585E;  /* Window Splits, Whitespace */
@define-color bg5          #56635F;  /* Unused */
@define-color bg_visual    #543A48;  /* Visual Selection */

/* === Background Highlights === */
@define-color bg_red       #514045;  /* Diff Deleted Line, Errors */
@define-color bg_green     #425047;  /* Diff Added Line, Hints */
@define-color bg_blue      #3A515D;  /* Diff Changed Line, Info */
@define-color bg_yellow    #4D4C43;  /* Warnings */

/* === Foregrounds === */
@define-color fg           #D3C6AA;  /* Main Foreground, Constants, Variables, Parameters */

/* === Syntax Colors === */
@define-color red          #E67E80;  /* Keywords, Errors */
@define-color orange       #E69875;  /* Operators, Types, Titles */
@define-color yellow       #DBBC7F;  /* Types, Special Chars, Warnings */
@define-color green        #A7C080;  /* Functions, Strings, Highlights */
@define-color aqua         #83C092;  /* Constants, Strings */
@define-color blue         #7FBBB3;  /* Identifiers, Info */
@define-color purple       #D699B6;  /* Numbers, Booleans, Preprocessors */

/* === Greys === */
@define-color grey0        #7A8478;  /* Line Numbers, Concealed */
@define-color grey1        #859289;  /* Comments, Punctuation, Borders */
@define-color grey2        #9DA9A0;  /* Cursor Line Number, Tabs */

/* === Status Line === */
@define-color statusline1  #A7C080;  /* Menu Selection, Active Tab */
@define-color statusline2  #D3C6AA;  /* Mode Indicator */
@define-color statusline3  #E67E80;  /* Mode Indicator */

/* Reset default hover effects from gtk */
button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
}

* {
  margin: 0;
  padding: 0;
}

#waybar {
  background: transparent; 
  font-family: "JetBrainsMono NF";
  font-size: 14px;
  color: @fg;
}

#mpris {
  background: @bg0;
  margin-right: 5px;
  padding: 0 10px;
  border-radius: 15px;
}

#mpris.playing {
  color: @green; 
}

#mpris.paused {
  color: @red;
}

#workspaces {
  background: @bg0;
  margin-right: 5px;
  /* as first element from the side */
  margin-left: 10px;
  padding: 0 8px;
  border-radius: 15px;
}


#window {
  background: @bg0;
  margin-right: 5px;
  padding: 0 10px;
  border-radius: 15px;
  color: @purple;
}

#workspaces button {
  color: @grey1;
  padding-left: 2px;
  padding-right: 2px;
}

#workspaces button.active {
  color: @orange;   
}

#clock {
  background: @bg0;
  color: @yellow;
  padding: 0 10px;
  border-radius: 15px;
}

tooltip {
  color: @fg;
  background: @bg2;
  border-radius: 10px;
}

/* group hardware */
#hardware {
  background: @bg0;
  padding: 0 10px;
  color: @grey0;
  border-radius: 15px;
  /* as last element from the side */
  margin-right: 10px;
}

#memory, #disk {
  margin-right: 5px;
}

/* group aio */
#aio {
  background: @bg0;
  margin-right: 5px;
  padding: 0 10px;
  border-radius: 15px;
}

#privacy {
  margin-right: 5px;
  padding: 0 10px;
  border-radius: 15px;
  color: @red;
}
